.works {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 10px;
    margin-bottom: 40px;
}

.workItem {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.workImg {
    height: 170px;
    overflow: hidden;
    border-radius: 25px;
    max-width: 500px;
    box-shadow: 0 0 9px #BEADFA;
    cursor: pointer;
}

.workImg:hover {
    scale: 1.02;
    transition: 0.3s;
}

.workImg img {
    width: 100%;
}

.workInfo {
    display: flex;
    flex-direction: column;
}

.workTitle {
    font-weight: 500;
    font-size: 18px;
}

.workLink {
    text-decoration: none;
    margin-top: 10px;
    color: black;
}


.workLink:hover {
    color: #A084E8;
}

.workDescription {
    margin-top: 10px;
}

@media screen and (min-width: 500px) {
    .workItem {
        flex-direction: row;
    }   
    .workImg {
        max-width: 200px;
    }
}

@media screen and (min-width: 700px) {
    .workImg {
        max-width: 300px;
    }
}


@media screen and (min-width: 900px) {
    .works {
        padding: 0;
    }
    .workImg {
        max-width: 450px;
    }
}

