.aboutMe {
    padding: 0 10px;
}

.greeting {
    margin-bottom: 20px;
}

.textLine {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.skillList {
    margin-top: 10px;
    padding: 0 20px;
}

@media screen and (min-width: 900px) {
    .aboutMe {
        padding: 0;
    }
}